@model IEnumerable<App.Models.AccountViewModels.PhysicianViewModel>

<div class="container">
    <a href="#">
        <h1>
            TiBBi
            <label>For A Better Life</label>
        </h1>
    </a>
    <a style="float:right; margin-right: 50px" asp-action="AddPatientDisease">
        <h5><label>Add Paitent Disease</label></h5>

    </a>
    <a style="float:right; margin-right: 50px" asp-action="FindPhysician">
        <h5><label>Find Physician</label></h5>

    </a>

</div>


<div class="headerdown">
    <div class="container">
        <div class="col-md-4 col-sm-4 w3_hl">
            <div class="w3l_r">
                <a class="scroll" asp-action="currentPatientDiseases">
                    <h3>Current Patient Disease</h3>
                    <h5>Head Ache</h5>
                </a>
            </div>

        </div>

        <div class="col-md-4 col-sm-4 w3_hc">
            <div class="w3l_cr">
                <a class="scroll" asp-action="visiterTreatmentHistory">
                    <h3>Treatment History</h3>
                    <h5>A schedule check-up</h5>
                </a>
            </div>

        </div>

        <div class="col-md-4 col-sm-4 w3_hr">
            <div class="w3l_rr">
                <a class="scroll" asp-action="lastVistDate">
                    <h3>Last Visit</h3>
                    <h5>Last visit Date : @DateTime.Now</h5>
                </a>
            </div>

        </div>
    </div>
</div>







<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe" style="margin-top: 20px">
    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
</div>

<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle " style="margin-top: 20px">
    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
</div>

<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe " style="margin-top: 20px">
    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
</div>

<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation " style="margin-top: 20px">
    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
</div>

<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray" style="margin-top: 20px">
    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
</div>

<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray" style="margin-top: 20px">
    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNIC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qualification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNIC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
